process {
    executor = 'slurm'
    queue = 'hologenomics'
    clusterOptions = '--mem-per-cpu=40G'
    time = '1-00:00:00'
    cpus = 1
}

executor {
    name = 'slurm'
    queueSize = 13
}

params {
    ref = "/groups/hologenomics/hernan/data/GNRD_data/ref_genomes/target_species/Terpsiphone_corvina_B10K/D2102046629.gapcloser.fasta"
    bams = "/groups/hologenomics/gfemer/SPF_project/results/Bamfiles/Merged/*.bam"
}
